// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$main-blue: #009CFF;
$background-blue: #ECF7FF;
$home-blue: #7ACCFF;
$dark-purple: #645988;
$nav-bar-h1-blue: #022650;
$btn-nav-h2-blue: #034A9E;
$h3-blue: #5484BD;
$black-p: #262626;
$grey-form: #BFBFBF;

