<div class="container-sidebar">

  <div class="sidebar">
    <div class="logo">
      <%= link_to projects_path do %>
      <%= image_tag "intouch_simple_logo.png", alt: "Mon image", width: 100, height: 100  %>
      <% end %>
    </div>

    <nav class="menu-nav">
      <ul>
        <div class="submenu">
          <a href="/projects"><li class="menu-items <%= 'active' if current_page?(projects_path) %>">My projects</li></a>
        </div>
        <div class="submenu">
          <a href="/projects/new"><li class="menu-items <%= 'active' if current_page?(new_project_path) %> ">Add a project</li></a>
        </div>
      </ul>
    </nav>
  </div>
</div>
