<div class="container-sidebar">

  <div class="sidebar">

    <div class="logo">
      <%= image_tag "intouch_simple_logo.png", alt: "Mon image", width: 100, height: 100  %>
    </div>

    <nav class="menu-nav">
      <ul>
        <li class="menu-items"><a href="#">Username</a></li>
        <li class="menu-items"><a href="#">Home</a></li>
        <li class="menu-items"><a href="#">Clients</a></li>
        <li class="menu-items"><a href="#">Add a project</a></li>
      </ul>
    </nav>
  </div>
</div>
