<h3>Hello <%= @project.client.first_name %> <%= @project.client.last_name %></h3>
<h4>This is your weekly recap</h4>

<div><%= @content %></div>

<p>you can visit your dashboard at : <%= link_to 'In touch', project_url(@project), target: "_blank" %> </p>
