.btn-show {
  color: $main-blue;
  background-color: $background-blue;
  border: solid 1px $main-blue;
  font-family: $headers-font;
  font-weight: bold;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
}

.btn-show:hover{
  -webkit-transform: scale(1.1);
  color: white;
  background-color: $main-blue;
  border: solid 1px $main-blue;
  font-family: $headers-font;
  font-weight: bold;
}
