.current-project {

  .contact, h4 {
    color: $main-blue;
    font-family: $headers-font;
    font-weight: bold;
    font-size: 24px;
  }

  .project-card {
    height: 280px;
    background-color: $background-blue;
  }

  .circle-bar-container {
    bottom: 15px;
    margin: 20px;
    width: 180px;
    height: 180px;
  }
}
