.row-project {

  h1 {
    font-size: 35px;
    color: $nav-bar-h1-blue;
  }

  h2 {
    font-weight: 300;
    font-size: 20px;
    color: #73C1FA;
    text-transform: uppercase;
  }

  h3 {
    font-weight: 300;
    font-size: 14px;
  }
}

.current-project {

  padding-top: 20px;

  .contact, h4 {
    color: $main-blue;
    font-family: $headers-font;
    font-weight: bold;
    font-size: 20px;
  }

   .contact, h3 {
    font-family: $headers-font;
    font-weight: bold;
    font-size: 16px;
  }

  .project-card {
    background-color: $background-blue;
    padding: 5px;
    margin: 2px;
  }


  .circle-bar-container {
    width: 170px;
    height: 190px;
  }

  .project-progress {
    padding-left: 50px;
    padding-top: 50px;
  }
}

.project-card-progress {
  margin-left: 200px;
}

.double-infos {
  background-color: #ECF7FF;
  padding: 20px;
  align-items: center;
  margin-left: 16px;
  border-radius: 5px;
}
