.projects-container {

  h5 {
    text-align: center;
  }

  h6 {
    padding: 0px;
  }

  i {
    color: $main-blue;
  }
  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-link:hover {
    text-decoration: none;
  }
  .project-card {
    height: 416px;
    background-color: $background-blue;
  }

  .project-progress {
    padding-top: 120px;
  }

  .infos {
    position: relative;
    bottom: 90px;
  }

  .project-card-new {
    text-decoration: none;
    height: 416px;
    background-color: $background-blue;
    border: dashed $main-blue;
    opacity: 0.4;
    &:hover{
      opacity: 0.8;
    }
  }

  .circle-bar-container {
    bottom: 130px;
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
  }

  .fa-plus-circle {
    font-size: 100px;
  }
}

.h1-border {
  padding-left: 25px;
}

.sprint {
  margin-top: 20px;
  color: $btn-nav-h2-blue;
  font-family: $headers-font;
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  &:hover a{
    text-decoration: none;
  }
}
