.projects-container {

  .card-project-title {
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: $btn-nav-h2-blue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 15%;
    justify-content: center;
    padding: 0 15px;
    margin: 0px;
  }

  h5 {
    text-align: center;
    font-size: 16px
  }

  h6 {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
  }

  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card-link:hover {
    text-decoration: none;
  }
  .project-card {
    height: 390px;
    background-color: $background-blue;
  }

  .project-progress {
    margin: 0;
    width: 100%;
    height: 45%;
    background-color: white;
    text-align: center;
    justify-content: center;
  }

  .infos {
    padding: 0 15px;
    margin: 0 15px;
    height: 25%;
    i {
      color: $main-blue;
    }
  }

  .buttons {
    height: 15%;
    font-weight: bold;
    font-size: 14px;
    .card-link {
      color: $grey-form;
      &:hover {
        color: $main-blue;
      }
    }
  }

  .circle-bar-container {
    width: 130px;
    height: 130px;
    margin-top: -155px;
  }

  .h1-border {
    padding-left: 25px;
  }
}


// .sprint {
//   margin-top: 20px;
//   color: $btn-nav-h2-blue;
//   font-family: $headers-font;
//   font-weight: bold;
//   opacity: 0.8;
//   text-decoration: none;
//   &:hover a{
//     text-decoration: none;
//   }
// }
