.projects-container {
  i {
    color: $main-blue;
  }
  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-link:hover {
    text-decoration: none;
  }
  .project-card {
    height: 416px;
    background-color: $background-blue;
  }

  .project-card-new {
    text-decoration: none;
    height: 416px;
    background-color: $background-blue;
    border: dashed $main-blue;
    opacity: 0.4;
    &:hover{
      opacity: 0.8;
    }
  }


  .circle-bar-container {
    bottom: 85px;
    margin: 20px;
    width: 200px;
    height: 200px;
  }

  .fa-plus-circle {
    font-size: 100px;
  }












}
