.projects-container {
  .project-card {
    height: 416px;
    background-color: #ECF7FF;
  }

  .project-card-new {
    height: 416px;
    background-color: #ECF7FF;
  }

  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }












}
