.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: flex;

  .dropdown-menu-center {
    right: auto;
    left: 20%;
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background: $nav-bar-h1-blue;
    opacity: 0.9;
  }

  .dropdown-menu-center a {
      color: #FFFFFF;
      opacity: 1;
  }

  .icon-color-menu {
    color: $main-blue;
    opacity: 1;
  }

  .dropdown-item:hover {
    background: $nav-bar-h1-blue;
    opacity: 1;
    color: $main-blue;
  }


  .menu-nav {
    display:flex;
    justify-content: left;

  }

  ul{
    padding-left: 1px;
    justify-content: center;
    li {
      padding-left: 3vw;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }


  .sidebar {
    display: flex;
    flex-direction: column;
    background: $nav-bar-h1-blue;
    height: 100vh;
    width: 13vw;
  }

  .logo {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  li.menu-items {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .menu-nav a, .menu-nav .menu-titles {
    color: #FFFFFF;
    padding-top: 0;
    text-decoration: none;
  }

  .menu-nav li:hover{
    background-color: $btn-nav-h2-blue;
  }

  .menu-nav li:hover.menu-items {
    width: 13.2vw;
    border-radius: 0 $border-radius $border-radius 0;
  }

  // .active {
  //   background-color: $btn-nav-h2-blue;
  //   width: 13.2vw;
  //   border-radius: 0 $border-radius $border-radius 0;
  // }
}
