.us-container {
  padding: 0;
  color: $main-blue;

  .user-story-card {
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
    margin: 2px;

    p, i {
      color: $btn-nav-h2-blue;
      margin-bottom: 0;
      margin-left: 10px;
      font-size: 20px;
    }
  }

  .in-progress {
    p, i  {
      color: $main-blue;
      margin-bottom: 0;
      margin-left: 10px;
    }
  }

  .to-do {
    p, i  {
      border: 0;
      color: gray;
      margin-bottom: 0;
      margin-left: 10px;
    }
  }

  .done {
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid $btn-nav-h2-blue;
  }

  .in-progress {
    background-color: white;
    border: 1px solid $main-blue;
  }

  .nav-link {
    background-color: white;
    color: gray;
    &.active {
      background-color: $background-blue;
      color: $btn-nav-h2-blue;
    }
  }

  .us-collapse {
    background-color: rgba(236, 247, 255, 0.3);
  }

  .us-card-link {
    text-decoration: none;
    &:hover .user-story-card {
      border: 2px solid $main-blue;
    }

    &:hover .user-story-card.done {
      border: 2px solid $btn-nav-h2-blue;
    }

    &:hover .user-story-card.to-do {
      border: 2px solid gray;
    }
  }

  .inprogress-active {
    border: 2px solid $main-blue;
  }

  .done-active {
    border: 2px solid $btn-nav-h2-blue;
  }

  .to-do-active {
    border: 2px solid gray;
  }
}

