.us-container {
  padding: 0;
  color: $main-blue;

  .user-story-card {
    background-color: white;
    border: 1px solid $main-blue;
    padding: 5px;
    margin: 2px;

    p, i {
      color: $btn-nav-h2-blue;
      margin-bottom: 0;
      margin-left: 10px;
      font-size: 20px;
    }

    .to-do {
      p, i  {
        color: $main-blue;
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
  }
  .done {
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid $btn-nav-h2-blue;
    opacity: 0.8;
  }

  .nav-link {
    background-color: white;
    color: gray;
    opacity: 0.9;
    &.active {
      background-color: $background-blue;
      color: $btn-nav-h2-blue;
    }
  }

  .us-collapse {
    background-color: rgba(236, 247, 255, 0.3);
  }

  .us-card-link {
    text-decoration: none;
    &:hover .user-story-card {
      border: 2px solid $main-blue;
    }

    &:hover .done {
      border: 2px solid $btn-nav-h2-blue;
    }
  }
}

