<div class="container form-container-new-report rounded p-3 mt-5 shadow">
  <div class="row justify-content-center"><h1><%= @project.title %> / New report <i class="fas fa-paper-plane"></i></h1></div>
  <div class="row mt-5">
    <div class="col-6">

      <form action="/reports" method="post" class="report-form form-group">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group row">
          <label for="report_client_email"><h5><i class="fas fa-at col-sm-2 col-form-label"></i></h5></label>
          <div class="col-sm-10">
            <input type="email" name="report_client_email" id="report_client_email" class= "form-control" value="<%= @project.client.email %>" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="report_topic"><h5><i class="fas fa-envelope-open-text col-sm-2 col-form-label"></i></h5></label>
          <div class="col-sm-10">
            <input type="text" name="report_topic" id="report_topic" class= "form-control" value="<%= @project.title %> / Project report" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="report_description"><h5><i class="fas fa-edit col-sm-2 col-form-label"></i></h5></label>
          <div class="col-sm-10">
            <textarea type="text" name="report_description" id="report_description" class= "form-control" rows="15" cols="70" required>Dear Pierre,

The project is on schedule we are now approximatively about 46% done on the whole project.

We have started sprint 2 and we are doing the 1st user story.

We are waiting for your review Sprint 1 | User story 4.  Please let us know if we need to change something or if everything is good.

Have a great day,

Regards,

-
Thomas
Kick ass web agency</textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <input type="submit" value="Create project" class="btn btn-primary">
    </form>

  </div>

    </div>

</div>
